<header>
  <div class="headerlogo">
    E-commerce
  </div>

  <div class="headerbuttons">
    <a routerLink="/consoles">
      <button ngbTooltip="Consoles" placement="bottom-right">
        <div>
          <mat-icon>videogame_asset</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          <!-- Consoles -->
        </div>
      </button>
    </a>
    <a routerLink="/games">
      <button ngbTooltip="Jogos" placement="bottom-right">
        <div>
          <mat-icon>games</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          <!-- Jogos -->
        </div>
      </button>
    </a>
    <a routerLink="/accessories">
      <button ngbTooltip="Acessórios" placement="bottom-right">
        <div>
          <mat-icon>devices_other</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          <!-- Acessórios -->
        </div>
      </button>
    </a>
    <a routerLink="/login">
      <button ngbTooltip="Logar" placement="bottom-right">
        <div>
          <mat-icon>forward</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          <!-- Logar -->
        </div>
      </button>
    </a>
    <a routerLink="/register">
      <button ngbTooltip="Registrar" placement="bottom-right">
        <div>
          <mat-icon>how_to_reg</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          <!-- Registrar -->
        </div>
      </button>
    </a>
  </div>
</header>
