<header>
  <div class="headerlogo">
    E-COMMERCE
  </div>

  <div class="headerbuttons">
    <a routerLink="/consoles">
      <button ngbTooltip="Consoles" placement="bottom-right">
        <div>
          <b id="consoles"></b>
          <mat-icon>videogame_asset</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </a>
    <a routerLink="/games">
      <button ngbTooltip="Jogos" placement="bottom-right">
        <div>
          <b id="games"></b>
          <mat-icon>games</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </a>
    <a routerLink="/accessories">
      <button ngbTooltip="Acessórios" placement="bottom-right">
        <div>
          <b id="accessories"></b>
          <mat-icon>devices_other</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </a>
    <a routerLink="/login">
      <button ngbTooltip="Logar" placement="bottom-right">
        <div>
          <b id="login"></b>
          <mat-icon>forward</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </a>
    <a routerLink="/register">
      <button ngbTooltip="Registrar" placement="bottom-right">
        <div>
          <b id="register"></b>
          <mat-icon>how_to_reg</mat-icon>
          <mat-icon inline="true">keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </a>
  </div>
</header>
